@import './variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 6px;
}

.btn-outline {
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 6px;
}